<div class="search-container">
  <input type="text" placeholder="Search..." class="search-input" />
  <button class="primary-btn">Agregar</button>
</div>

<div class="container">
  <table class="custom-table">
    <thead>
    <tr>
      <th>Logo</th>
      <th>Nombre del producto</th>
      <th>Descripción</th>
      <th>Fecha de liberación</th>
      <th>Fecha de reestructuración</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let producto of productos">
      <td><img [src]="producto.logo" alt="Logo" class="logo-img" /></td>
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.descripcion }}</td>
      <td>{{ producto.fechaLiberacion | date: 'dd/MM/yyyy' }}</td>
      <td>{{ producto.fechaReestructuracion | date: 'dd/MM/yyyy' }}</td>
    </tr>
    </tbody>
  </table>

  <div class="results">
    <span>{{ productos.length }} Resultados</span>
    <select [(ngModel)]="pageSize" class="page-size-select">
      <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
    </select>
  </div>
</div>
