<div class="search-container">
  <input type="text" placeholder="Search..." class="search-input" />
  <button type="button" class="primary-btn" (click)="createProduct()">Agregar</button>
</div>

<div class="container">
  <table class="custom-table">
    <thead>
    <tr>
      <th>Logo</th>
      <th>Nombre del producto</th>
      <th>Descripción</th>
      <th>Fecha de liberación</th>
      <th>Fecha de reestructuración</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let producto of productos">
      <td><img [src]="producto.logo" alt="Logo" class="logo-img" /></td>
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.descripcion }}</td>
      <td>{{ producto.fechaLiberacion | date: 'dd/MM/yyyy' }}</td>
      <td>{{ producto.fechaReestructuracion | date: 'dd/MM/yyyy' }}</td>
      <td>
        <div class="action-menu">
          <button class="menu-btn" (click)="toggleMenu(producto.id)">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </button>
          <div class="menu-content" [ngClass]="{'show': selectedProductId === producto.id}">
            <button (click)="editProduct(producto.id)">Editar</button>
            <button (click)="deleteProduct(producto.id)">Eliminar</button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="results">
    <span>{{ productos.length }} Resultados</span>
    <select [(ngModel)]="pageSize" class="page-size-select">
      <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
    </select>
  </div>
</div>
