<div class="search-container">
  <input type="text" placeholder="Search..." class="search-input" />
  <button type="button" class="primary-btn" (click)="createProduct()">Agregar</button>
</div>

<div class="container">
  <div class="custom-table-container">
    <table class="custom-table">
      <thead>
      <tr>
        <th>Logo</th>
        <th>Nombre del producto</th>
        <th>Descripción</th>
        <th>Fecha de liberación</th>
        <th>Fecha de reestructuración</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of paginatedProducts">
        <td><img [src]="product.logo" alt="Logo" class="logo-img" /></td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.date_release | date: 'dd/MM/yyyy' }}</td>
        <td>{{ product.date_revision | date: 'dd/MM/yyyy' }}</td>
        <td>
          <div class="action-menu">
            <button class="menu-btn" (click)="toggleMenu(product.id)">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </button>
            <div class="menu-content" [ngClass]="{'show': selectedProductId === product.id}">
              <button (click)="editProduct(product.id)">Editar</button>
              <button (click)="deleteProduct(product.id)">Eliminar</button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="results">
    <span>{{ products.length }} Resultados</span>
    <select [(ngModel)]="pageSize" class="page-size-select" (change)="onPageSizeChange($event)">
      <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
    </select>
  </div>
</div>
