@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import "variables";

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light-gray);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  height: 100%;
}

.container {
  padding: 20px;
  background-color: var(--basic-white);
  border-radius: 2px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 200px;
  padding: 10px;
  font-size: 14px;
  border: 2px solid var(--dark-gray);
  border-radius: 8px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--basic-white);
  overflow: hidden;

  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--light-gray);
  }

  th {
    background-color: var(--light-gray);
    font-weight: bold;
    font-size: 13px;
  }

  td {
    font-size: 13px;
  }

  tbody {
    tr:hover {
      background-color: var(--hover-gray);
    }
  }
}

.logo-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
}

.page-size-select {
  padding: 5px;
  font-size: 12px;
  width: 60px;
  border-radius: 5px;
  border: 2px solid var(--dark-gray);
}
